USE [master]
GO
/****** Object:  Database [TakipSistemi]    Script Date: 11.01.2026 21:10:05 ******/
CREATE DATABASE [TakipSistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TakipSistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TakipSistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TakipSistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TakipSistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TakipSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TakipSistemi]
GO
/****** Object:  Table [dbo].[CalismaProgrami]    Script Date: 11.01.2026 21:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalismaProgrami](
	[ProgramİD] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](50) NOT NULL,
	[Konu] [nvarchar](50) NOT NULL,
	[KonuyubitirmeTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProgramİD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odevler]    Script Date: 11.01.2026 21:10:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odevler](
	[Odevid] [int] IDENTITY(1,1) NOT NULL,
	[DersAdi] [nvarchar](50) NOT NULL,
	[OdevBaslik] [nvarchar](50) NOT NULL,
	[OdevKonusu] [nvarchar](100) NOT NULL,
	[TeslimTarihi] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Odevid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Odevler] ON 

INSERT [dbo].[Odevler] ([Odevid], [DersAdi], [OdevBaslik], [OdevKonusu], [TeslimTarihi]) VALUES (3, N'Görsel Programlama Uygulamaları', N'Otomasyon projesi oluştur', N'Hocanın yaptığı örnekte ki gibi benzer otomasyon oluştur', CAST(N'2025-10-03' AS Date))
INSERT [dbo].[Odevler] ([Odevid], [DersAdi], [OdevBaslik], [OdevKonusu], [TeslimTarihi]) VALUES (7, N'Dart Programlama Dili', N'Dart Programlama Dilini Öğrenme', N'Btk akademinden bitir', CAST(N'2025-10-10' AS Date))
SET IDENTITY_INSERT [dbo].[Odevler] OFF
GO
USE [master]
GO
